<div>
  <h2 class="list_header">Sample Category 1</h2>
  <a href="/create_post"><p class="top_right_button">CREATE POST</p></a>
</div>

<div>
  <ul class="listings_list">
    <a href="/post"> <li >sample post 1</li></a>

  </ul>

</div>
