<h2 class="create_post_header">Create a post</h2>

<div class="post_fields">
  <form acton="/create_post" method="POST">
    <label>title: <input type="text" name="post[new_title]"></label><br>
    <label>price: <input type="text" name="post[new_price]"> </label><br>
    <label>location: <input type="text" name="post[new_location]"> </label><br>
    <label>description: <input type="text" name="post[new_description]"> </label><br>
    <label>email: <input type="text" name="post[new_email]"> </label><br>
    <input type="submit" value="submit new post!">
  </form>

</div>



