<div class="container">
  <h1>Welcome to M & H List!</h1>
</div>

<div>
  <h2 class="list_header">Categories</h2>
</div>

<div>
  <ul class="category_list">
    <a href="/category"> <li >sample cat 1</li></a>

  </ul>

</div>

